{% extends "account/layout.html" %}

{% block title %}
account
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <div>Username : {{user.username}}</div>
        <div style="text-align: right;">등록된 건수 : {{count}}건</div>
        <br>
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align: center;">
                        ISBN
                    </th>
                    <th scope="col" style="text-align: center;">
                        제목
                    </th>
                    <th scope="col" style="text-align: center;">
                        저자
                    </th>
                    <th scope="col" style="text-align: center;">
                        정가
                    </th>
                    <th scope="col" style="text-align: center;">
                        출판사/레이블
                    </th>
                    <th scope="col" style="text-align: center;">
                        발매일
                    </th>
                    <th scope="col" style="text-align: center;">
                        표지
                    </th>
                    <th scope="col" style="text-align: center;">
                        메모
                    </th>
                    <th scope="col" style="text-align: center;">
                        삭제
                    </th>
                </thead>
            </tr>
            {% for bks in books %}
            <tr>
                <td>{{bks.isbn}}</td>
                <td>
                    <a href="{{bks.booklink}}">
                        {{bks.title}}
                    </a>
                </td>
                <td>{{bks.author}}</td>
                <td>{{bks.price}}</td>
                <td>{{bks.publisher}}</td>
                <td>{{bks.date}}</td>
                <td>
                    <a href="{{bks.imagelink}}">
                        <img src="{{bks.imagelink}}" width="75" height="100">
                    </a>
                </td>
                <td>{{bks.memo}}</td>
                <td>
                   <form action="{% url 'account:deletedata' bks.isbn %}" method="POST">
                       {% csrf_token %}
                       <input type="submit" value="Delete">
                   </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
    {% endif %}
</div>
{% endblock %}