{% extends "accounts/layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'accounts:lin'%}">
       {% csrf_token %}
       Username:
       <br>
       <input name = "username" type="text">
       <br>
       Password:
       <br>
       <input name="password" type="password">
       <br><br>
       <input type="submit" class="btn btn-primary" value="sign in">
    </form>
    <button type="menu" class="btn btn-primary" value="sup" >Sign up</button>
</div>
{% endblock %}